
@model HotelApplication.Models.Complementary

@{
    ViewData["Title"] = "Details";
    Layout = null;
}
<h4>Complementary Service Details</h4>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-4"> @Html.DisplayNameFor(model => model.Name) </dt>
        <dd class="col-sm-8"> @Html.DisplayFor(model => model.Name) </dd>
        <dt class="col-sm-4"> @Html.DisplayNameFor(model => model.Quantity) </dt>
        <dd class="col-sm-8"> @Html.DisplayFor(model => model.Quantity) </dd>
        <dt class="col-sm-4"> @Html.DisplayNameFor(model => model.Amount) </dt>
        <dd class="col-sm-8"> @Html.DisplayFor(model => model.Amount) </dd>
        <dt class="col-sm-4"> @Html.DisplayNameFor(model => model.TotalAmount) </dt>
        <dd class="col-sm-8"> @Html.DisplayFor(model => model.TotalAmount) </dd>
    </dl>
</div>
